<div class="jumbotron">
  <h1>What the hell is bacon.ly?</h1>
  <div class="row">
    <div class="col-sm-6">
      <p> SO, BASICALLY, IT'S LIKE A CLOUD STORAGE PROVIDER FOR FUNERAL HOMES!</p>
    </div>
    <div class="col-sm-6">
      <p>
        Bacon ipsum dolor amet porchetta picanha ground round sausage.
        Ham turkey short loin cow ball tip salami, cupim meatball chuck flank brisket.
        Pastrami landjaeger ham hock bresaola pork, meatball ground round leberkas ball tip.
        Strip steak chicken turducken ground round corned beef, andouille filet mignon landjaeger pork chop alcatra boudin.
        Strip steak ham turkey fatback.
        Ham pork chop pancetta biltong t-bone tenderloin, pastrami picanha pork belly short loin sausage hamburger.
        Sausage salami pork chop kielbasa prosciutto.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <h1 class="text-center">Meet the fuckin' team</h1>
</div>
<div class="row text-center">
  <div class="col-sm-3 img-crop">
    <img src="https://pbs.twimg.com/profile_images/461277151514222593/xYCOja56_400x400.jpeg" alt="Ehrlich Bachman" class="img-circle" />
    <h2>Ehrlich Bachman</h2>
    <p>
      Founder of Aviato, the next Steve Jobs
    </p>
  </div>
  <div class="col-sm-3 img-crop">
    <img src="http://media.tumblr.com/tumblr_ln5cw9aiDy1qgvwlv.jpg" alt="Andy Dwyer" class="img-circle" />
    <h2>Andy Dwyer</h2>
    <p>
      Can help you with network connectivitiy problems
    </p>
  </div>
  <div class="col-sm-3 img-crop">
    <img src="https://pmcdeadline2.files.wordpress.com/2010/08/nicolas_cage.jpg" alt="Nicolas Cage" class="img-circle" />
    <h2>Nicolas Cage</h2>
    <p>
      The one true god
    </p>
  </div>
  <div class="col-sm-3 img-crop">
    <img src="http://24.media.tumblr.com/tumblr_m09x7hJTC31qal4yro1_500.jpg" alt="The Rabbit of Caerbannog" class="img-circle" />
    <h2>The Rabbit of Caerbannog</h2>
    <p>
      He's got sharp pointy teeth
    </p>
  </div>
</div>
