<div class="row text-center">
  <h1>Home</h1>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div id="home-carousel" class="carousel slide home-carousel" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("bacon.jpg") %>
          <div class="carousel-caption">
            <p>
              Bacon ipsum dolor amet porchetta picanha ground round sausage.
              Ham turkey short loin cow ball tip salami, cupim meatball chuck flank brisket.
              Pastrami landjaeger ham hock bresaola pork, meatball ground round leberkas ball tip.
              Strip steak chicken turducken ground round corned beef, andouille filet mignon landjaeger pork chop alcatra boudin.
              Strip steak ham turkey fatback.
              Ham pork chop pancetta biltong t-bone tenderloin, pastrami picanha pork belly short loin sausage hamburger.
              Sausage salami pork chop kielbasa prosciutto.
            </p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("pig.jpg") %>
          <div class="carousel-caption">
            <p>
              yummy
            </p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <h3 class="text-center">To Bacon?</h3>
    <p>
      Rump hamburger leberkas, ex velit cow cupim ribeye lorem mollit bresaola laboris porchetta consectetur.
      Pariatur doner do, turkey consectetur qui chuck filet mignon nisi duis mollit shoulder.
      Et est rump sirloin. Nisi drumstick turducken mollit et tri-tip.
      Dolor meatloaf excepteur strip steak enim nulla corned beef landjaeger kevin meatball sausage ut frankfurter proident pastrami.
      Doner dolore t-bone, pork in sirloin mollit aliqua boudin venison laboris.
    </p>
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">Or not?</h3>
    <p>
      Collaboratively administrate empowered markets via plug-and-play networks.
      Dynamically procrastinate B2C users after installed base benefits.
      Dramatically visualize customer directed convergence without revolutionary ROI.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <h3 class="text-center">We can help</h3>
    <p>
      Tri-tip jowl picanha chuck andouille, pariatur swine.
      Pork belly eu duis t-bone.
      Exercitation excepteur sunt, pork chop landjaeger occaecat enim sint
      frankfurter tail meatball aliquip pancetta jerky salami.
      Hamburger ham hock adipisicing qui excepteur magna deserunt biltong sint irure rump.
      Lorem dolor ex voluptate ut picanha, beef ham hock.
      Cupidatat cillum dolor, short loin do meatloaf culpa non chicken laborum brisket.
    </p>
  </div>
  <div class="col-sm-4">
    <h3 class="text-center">B2B (Bacon 2 Bacon)</h3>
    <p>
      We help bacon businesses too. Just give us bacon.
    </p>
  </div>
</div>
