<div class="col-xs-4 col-xs-offset-1">
  <div class="row">
    <h1>Sign up!</h1>

    <ul>
    <% @user.errors.full_messages.each do |err_msg| %>
      <li><%= err_msg %></li>
    <% end %>
    </ul>

    <%= render "sessions/form", url: new_user_url, value: "Create User!", user: @user %>
  </div>
</div>
